<div class="">
  <div class="pull-left">
    <button class="btn btn-default" routerLink="/billers"><span class="glyphicon glyphicon-chevron-left"></span> Cancel
    </button>
  </div>
  <div class="pull-right">
    <button class="btn btn-danger" (click)="delete(biller.id)" *ngIf="biller.isLoaded" type="button">Delete <span
      class="glyphicon glyphicon-remove"></span></button>
  </div>
</div>
<br>
<div class="col-lg-4 col-lg-offset-3">
  <form #billerForm="ngForm" (ngSubmit)="saveForm(billerForm.value)">
    <input type="hidden" name="isLoaded" [(ngModel)]="biller.isLoaded">
    <div class="form-group">
      <div class="row">
        <div class="col-lg-3">
          <label class="control-label col-lg-3" for="company-name">Company Name*</label>
        </div>
        <div class="col-lg-8">
          <input id="company-name" type="text" pattern="[A-Z0-9][\w ]*" [(ngModel)]="biller.companyName" class="form-control col-lg-8" required
                 name="companyName">
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-lg-11">
      <button type="submit" class="btn btn-default form-control" [disabled]="!billerForm.form.valid">Save</button>
    </div>
    </div>
  </form>
</div>
