<div class="pull-right">
  <button class="btn btn-default" [routerLink]="['/biller/add']">New Biller</button>
</div>
<br>
<br>
<div >
  <table class="table table-hover">
    <tr>
      <th>Company Name</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let biller of billers">
      <td>{{biller.companyName}}</td>
      <td><a [routerLink]="['/biller/edit', biller.id]" class="glyphicon glyphicon-pencil"></a></td>
      <td><a (click)="deleteBiller(biller.id)" class="glyphicon glyphicon-remove"></a></td>
    </tr>
  </table>
</div>
