<body>
<div class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3>Mega Inc</h3>
    </div>
    <div class="navbar navbar-right" style="padding-top: 15px">
      <button class="btn navbar-btn btn-default" [routerLink]="['/payments']"> Payments</button>
      <button class="btn navbar-btn btn-default" [routerLink]="['/customers']"> Customers</button>
      <button class="btn navbar-btn btn-default" [routerLink]="['/billers']"> Billers</button>
    </div>
  </div>
</div>
<div class="container" >
  <router-outlet></router-outlet>
</div>
</body>
