<div class="pull-left">
  <button class="btn btn-default" routerLink="/payments"><span class="glyphicon glyphicon-chevron-left"></span>
    Cancel
  </button>
</div>
<br>
<div class="col-lg-5 col-lg-offset-3">
  <form #paymentForm="ngForm" class="form-horizontal" (ngSubmit)="savePaymentForm(paymentForm.value)">
    <div class="form-group">
      <div class="row">
        <div class="col-lg-3">
        <label class="control-label " for="customer">Customer*</label>
        </div>
        <div class="col-lg-8">
        <select  class="form-control" [(ngModel)]="payment.customerId" id="customer" name="customer" required>
          <option value="" selected disabled hidden>Choose Customer</option>
          <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.firstName}}
            {{customer.lastName}}
          </option>
        </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-lg-3">
          <label class="control-label" for="biller">Biller*</label>
        </div>
        <div class="col-lg-8">
          <select class="form-control" [(ngModel)]="payment.billerId" id="biller" name="biller" required>
            <option value="" selected disabled hidden>Choose Biller</option>
            <option *ngFor="let biller of billers" [ngValue]="biller">{{biller.companyName}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-lg-3">
          <label class="control-label" for="account">Account*</label>
        </div>
        <div class="col-lg-8">
          <input name="account"  type="text" pattern="[0-9]{0,50}" [(ngModel)]="payment.account" class="form-control" id="account" required>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-lg-3">
          <label class="control-label" for="amount">Amount ($)*</label>
        </div>
        <div class="col-lg-8">
          <input name="amount" type="text" pattern="[1-9][0-9]*(\.[0-9]{0,2})?" [(ngModel)]="payment.amount" class="form-control" id="amount" required>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-lg-11">
          <button type="submit" [disabled]="!paymentForm.form.valid" class="btn btn-default form-control">Pay</button>
        </div>

      </div>
    </div>


  </form>
</div>

