<div class="alert alert-success alert-dismissible" *ngIf="isPaymentAddingSuccessful()">
  <a (click)="closeMessage()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Your payment successfully added.
</div>
<div class="alert alert-warning alert-dismissible" *ngIf="isPaymentAddingFailed()">
  <a (click)="closeMessage()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Failed!</strong> Sorry, we have some problems. Please, try again!
</div>
<div class="row">
  <div class="col-md-2">
    <select class="form-control" (change)="updatePayments()" [(ngModel)]="customerIdFilter">
      <option [ngValue]="0" selected>All Customers</option>
      <option *ngFor="let customer of customers" [ngValue]="customer.id">{{customer.firstName}} {{customer.lastName}}</option>
    </select>
  </div>
  <div class="col-md-2 ">
    <select class="form-control" (change)="updatePayments()" [(ngModel)]="billerIdFilter">
      <option [ngValue]="0" selected>All Billers</option>
      <option *ngFor="let biller of billers" [ngValue]="biller.id">{{biller.companyName}}</option>
    </select>
  </div>
  <div class="col-md-7">

  </div>
  <div class="col-md-1 ">
    <button class="btn btn-default " [routerLink]="['/payment/add']">New Payment</button>
  </div>
</div>
<br>
  <table class="table table-hover">
    <tr>
      <th>Date</th>
      <th>Customer Name</th>
      <th>Biller Name</th>
      <th>Account</th>
      <th>Amount</th>
    </tr>
    <tr *ngFor="let payment of payments">
      <td> {{payment.date | date : 'medium'}}</td>
      <td>{{payment.customer.firstName}} {{payment.customer.lastName}}</td>
      <td>{{payment.biller.companyName}}</td>
      <td>{{payment.account}}</td>
      <td>${{payment.amount | number}} </td>
    </tr>
  </table>
