<div class="pull-left">
  <button class="btn btn-default" routerLink="/customers"><span class="glyphicon glyphicon-chevron-left"></span> Cancel
  </button>
</div>
<div class="pull-right">
  <button class="btn btn-default" (click)="delete(customer.id)" *ngIf="customer.isLoaded" type="button">Delete <span
    class="glyphicon glyphicon-remove"></span></button>
</div>
<br>
<div class="col-lg-4 col-lg-offset-3">
  <form #customerForm="ngForm" (ngSubmit)="saveForm(customerForm.value)">
    <input type="hidden" name="isLoaded" [(ngModel)]="customer.isLoaded">
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <label class="control-label" for="first-name">First Name*</label>
        </div>
        <div class="col-md-8">
          <input id="first-name" class="form-control" type="text" pattern="[A-Z][a-z]*" [(ngModel)]="customer.firstName" required name="firstName">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <label class="control-label" for="last-name">Last Name*</label>
        </div>
        <div class="col-md-8">
          <input id="last-name" class="form-control" type="text" pattern="[A-Z][a-z]*" [(ngModel)]="customer.lastName" required name="lastName">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <label class="control-label" for="birthday">Date Of Birth *</label>
        </div>
        <div class="col-md-8">
          <input id="birthday" type="date" format="dd/MM/yyyy" class="form-control" [(ngModel)]="customer.dateOfBirth"
                 required name="dateOfBirth">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <label class="control-label" for="address">Address*</label>
        </div>
        <div class="col-md-8">
          <input id="address" class="form-control" [(ngModel)]="customer.address" required name="address">
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="form-control btn btn-default" type="submit" [disabled]="!customerForm.form.valid">Save</button>
    </div>
  </form>
</div>
