<body>
<div class="pull-right">
  <button class="btn btn-default" [routerLink]="['/customer/add']">New Customer</button>
</div>
<br>
<br>
  <table class="table table-hover" >
    <tr>
      <th>Name</th>
      <th>Date Of Birth</th>
      <th>Address</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let customer of customers">
      <td>{{customer.firstName}} {{customer.lastName}}</td>
      <td>{{customer.dateOfBirth | date}}</td>
      <td>{{customer.address}}</td>
      <td><a [routerLink]="['/customer/edit', customer.id]" class="glyphicon glyphicon-pencil"></a></td>
      <td><a (click)="deleteCustomer(customer.id)" class="glyphicon glyphicon-remove"></a></td>
    </tr>
  </table>
<!--<ul>
  <li *ngFor="let customer of customers">
    {{customer.address}}
  </li>
</ul>-->
</body>


